[MESSAGES CONTROL]

disable=
    duplicate-code,
    import-error,
    invalid-name,
    no-name-in-module,
    relative-beyond-top-level,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-locals,
    too-many-positional-arguments,
    too-many-statements